.about__body {
  width: 900px;
  height: 640px;
  margin: auto;
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
  margin: auto;
  width: 662px;
  height: 64px;
  font-family: Myriad Pro;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #868585;
  margin-bottom: 65px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px -15px;
}

.about__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.title {
  font-family: Myriad Pro;
  font-size: 34px;
  letter-spacing: 5.44px;
  position: relative;
  text-align: center;
  padding-bottom: 30px;
}

.title:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 81px;
  height: 1px;
  background-color: #000000;
  margin: 0px 0px 0px -25px;
}

.item-about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #ada074;
  width: 92px;
  height: 92px;
}

.item-about__title {
  margin-top: 42px;
  margin-bottom: 36px;
  font-family: Myriad Pro;
  font-size: 22px;
  letter-spacing: 3.52px;
  text-align: center;
  color: #000000;
}

.item-about__text {
  font-family: Myriad Pro;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #868585;
}
